@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  font-family: Rethink Sans;
}

li::marker {
  content: none;
}

.bi {
  font-size: 1.3rem;
  cursor: pointer;
}

li {
  transition: background-color 0.1s;
}

li:hover {
  background-color: rgb(0 0 0 / 32%);
}

.input {
  transition:
    border-color 0.2s,
    background-color 0.2s,
    color 0.2s;
}

.input:hover {
  border-color: rgb(255, 255, 255, 75%) !important;
  background-color: rgb(255, 255, 255, 75%);
  color: #000000;
}

.button-submit {
  transition: box-shadow 0.1s;
}

.button-submit:hover {
  box-shadow: 0px 0px 0.4rem #ffffff;
}

.maxw-40r {
  max-width: 40rem;
}

.maxw-19r {
  max-width: 19rem;
}

.maxw-2-5r {
  max-width: 2.5r
}

.maxw-39r {
  max-width: 39rem;
}